In [185]:
#Carter Hardy
#11-NOV-2024
#BMI 6018

In [186]:
import pandas as pd
import numpy as np

In [187]:
#Data set I downloaded:
#https://www.kaggle.com/datasets/prasad22/healthcare-dataset?resource=download

In [188]:
#Load data in as DataFrame 
df = pd.read_csv('/Users/carterhardy/Downloads/healthcare_dataset.csv')

In [189]:
#There are some big numbers in this assingment, so I'm changing the display format to float values to avoid
#scientific notation and display them as regular integers.
#scientific notation 
pd.set_option('display.float_format', '{:.2f}'.format)

#pd.reset_option('display.float_format')

In [190]:
#Data preview
df.head(10)

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Bobby JacksOn,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,Blue Cross,18856.28,328,Urgent,2024-02-02,Paracetamol,Normal
1,LesLie TErRy,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.33,265,Emergency,2019-08-26,Ibuprofen,Inconclusive
2,DaNnY sMitH,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,Aetna,27955.10,205,Emergency,2022-10-07,Aspirin,Normal
3,andrEw waTtS,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.78,450,Elective,2020-12-18,Ibuprofen,Abnormal
4,adrIENNE bEll,43,Female,AB+,Cancer,2022-09-19,Kathleen Hanna,White-White,Aetna,14238.32,458,Urgent,2022-10-09,Penicillin,Abnormal
5,EMILY JOHNSOn,36,Male,A+,Asthma,2023-12-20,Taylor Newton,Nunez-Humphrey,UnitedHealthcare,48145.11,389,Urgent,2023-12-24,Ibuprofen,Normal
6,edwArD EDWaRDs,21,Female,AB-,Diabetes,2020-11-03,Kelly Olson,Group Middleton,Medicare,19580.87,389,Emergency,2020-11-15,Paracetamol,Inconclusive
7,CHrisTInA MARtinez,20,Female,A+,Cancer,2021-12-28,Suzanne Thomas,"Powell Robinson and Valdez,",Cigna,45820.46,277,Emergency,2022-01-07,Paracetamol,Inconclusive
8,JASmINe aGuIlaR,82,Male,AB+,Asthma,2020-07-01,Daniel Ferguson,Sons Rich and,Cigna,50119.22,316,Elective,2020-07-14,Aspirin,Abnormal
9,ChRISTopher BerG,58,Female,AB-,Cancer,2021-05-23,Heather Day,Padilla-Walker,UnitedHealthcare,19784.63,249,Elective,2021-06-22,Paracetamol,Inconclusive

In [191]:
#Melt

In [192]:
#I melted name, data of admission, discharge data, and room number together so that we can essensially see the
#insurance provider, billing amount, and medication per visit. 
melted_df = pd.melt(df, id_vars =['Name', 'Date of Admission', 'Discharge Date', 'Room Number'], 
                    value_vars = ['Insurance Provider', 'Billing Amount', 'Medication'], var_name='Attribute',
                    value_name='Details')

In [193]:
#I then sorted by data of admission and name so that the melted data would show in a readable way together by visit
melted_df = melted_df.sort_values(by=['Date of Admission', 'Name'])
melted_df.head(10)

,Name,Date of Admission,Discharge Date,Room Number,Attribute,Details
7547,AMAnDa lang,2019-05-08,2019-05-28,124,Insurance Provider,Aetna
63047,AMAnDa lang,2019-05-08,2019-05-28,124,Billing Amount,3602.66
118547,AMAnDa lang,2019-05-08,2019-05-28,124,Medication,Aspirin
25568,AdAM HeRNandEZ,2019-05-08,2019-05-30,356,Insurance Provider,Blue Cross
81068,AdAM HeRNandEZ,2019-05-08,2019-05-30,356,Billing Amount,9379.01
136568,AdAM HeRNandEZ,2019-05-08,2019-05-30,356,Medication,Paracetamol
36249,AnGELa GrEEn,2019-05-08,2019-06-03,346,Insurance Provider,Cigna
91749,AnGELa GrEEn,2019-05-08,2019-06-03,346,Billing Amount,18802.68
147249,AnGELa GrEEn,2019-05-08,2019-06-03,346,Medication,Aspirin
20868,BaRRy fRAnKlin,2019-05-08,2019-06-05,395,Insurance Provider,UnitedHealthcare

In [194]:
#This is a helpful way to view the data, so we can see who the insurance provider was for a certain visit, how 
#much that visit costs, and what medication was given in that visit.

In [195]:
#Pivot

In [196]:
#I found that using pivot() had a lot of issues if there was any duplicate value, I didnt want to take out any 
#duplicates because if a condition and insurance provider is what we are trying to pivot on, there can be many 
#details that are different even if those are the same. So I made a smaller subset of data to demonstrate pivot()
df_sub = df.head(15)

#here is the subset data that will be used to demonstrate pivot()
df_sub

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Bobby JacksOn,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,Blue Cross,18856.28,328,Urgent,2024-02-02,Paracetamol,Normal
1,LesLie TErRy,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.33,265,Emergency,2019-08-26,Ibuprofen,Inconclusive
2,DaNnY sMitH,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,Aetna,27955.10,205,Emergency,2022-10-07,Aspirin,Normal
3,andrEw waTtS,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.78,450,Elective,2020-12-18,Ibuprofen,Abnormal
4,adrIENNE bEll,43,Female,AB+,Cancer,2022-09-19,Kathleen Hanna,White-White,Aetna,14238.32,458,Urgent,2022-10-09,Penicillin,Abnormal
5,EMILY JOHNSOn,36,Male,A+,Asthma,2023-12-20,Taylor Newton,Nunez-Humphrey,UnitedHealthcare,48145.11,389,Urgent,2023-12-24,Ibuprofen,Normal
6,edwArD EDWaRDs,21,Female,AB-,Diabetes,2020-11-03,Kelly Olson,Group Middleton,Medicare,19580.87,389,Emergency,2020-11-15,Paracetamol,Inconclusive
7,CHrisTInA MARtinez,20,Female,A+,Cancer,2021-12-28,Suzanne Thomas,"Powell Robinson and Valdez,",Cigna,45820.46,277,Emergency,2022-01-07,Paracetamol,Inconclusive
8,JASmINe aGuIlaR,82,Male,AB+,Asthma,2020-07-01,Daniel Ferguson,Sons Rich and,Cigna,50119.22,316,Elective,2020-07-14,Aspirin,Abnormal
9,ChRISTopher BerG,58,Female,AB-,Cancer,2021-05-23,Heather Day,Padilla-Walker,UnitedHealthcare,19784.63,249,Elective,2021-06-22,Paracetamol,Inconclusive
10,mIchElLe daniELs,72,Male,O+,Cancer,2020-04-19,John Duncan,Schaefer-Porter,Medicare,12576.80,394,Urgent,2020-04-22,Paracetamol,Normal
11,aaRon MARtiNeZ,38,Female,A-,Hypertension,2023-08-13,Douglas Mayo,Lyons-Blair,Medicare,7999.59,288,Urgent,2023-09-05,Lipitor,Inconclusive
12,connOR HANsEn,75,Female,A+,Diabetes,2019-12-12,Kenneth Fletcher,"Powers Miller, and Flores",Cigna,43282.28,134,Emergency,2019-12-28,Penicillin,Abnormal
13,rObeRt bAuer,68,Female,AB+,Asthma,2020-05-22,Theresa Freeman,Rivera-Gutierrez,UnitedHealthcare,33207.71,309,Urgent,2020-06-19,Lipitor,Normal
14,bROOkE brady,44,Female,AB+,Cancer,2021-10-08,Roberta Stewart,Morris-Arellano,UnitedHealthcare,40701.60,182,Urgent,2021-10-13,Paracetamol,Normal

In [197]:
#Our row for pivot() will be Hospital, columns will be the insurance provider, and then the values are medical 
#condition and billing amount.
#From this view, we can see what hospital was visited with what insurance and what medical condition was seen and 
#then we can see how much the trip cost to that hospital with that insurance provider.
df_sub.pivot(index = 'Hospital', columns = 'Insurance Provider', values = ['Medical Condition', 
                                                                           'Billing Amount']).fillna('NA')

                            Medical Condition                       \
Insurance Provider                      Aetna Blue Cross     Cigna
Hospital
Cook PLC                              Obesity         NA        NA
Group Middleton                            NA         NA        NA
Hernandez Rogers and Vang,                 NA         NA        NA
Kim Inc                                    NA         NA        NA
Lyons-Blair                                NA         NA        NA
Morris-Arellano                            NA         NA        NA
Nunez-Humphrey                             NA         NA        NA
Padilla-Walker                             NA         NA        NA
Powell Robinson and Valdez,                NA         NA    Cancer
Powers Miller, and Flores                  NA         NA  Diabetes
Rivera-Gutierrez                           NA         NA        NA
Schaefer-Porter                            NA         NA        NA
Sons Rich and                              NA         NA    Asthma
Sons and Miller                            NA     Cancer        NA
White-White                            Cancer         NA        NA

                                                           Billing Amount  \
Insurance Provider               Medicare UnitedHealthcare          Aetna
Hospital
Cook PLC                               NA               NA       27955.10
Group Middleton                  Diabetes               NA             NA
Hernandez Rogers and Vang,       Diabetes               NA             NA
Kim Inc                           Obesity               NA             NA
Lyons-Blair                  Hypertension               NA             NA
Morris-Arellano                        NA           Cancer             NA
Nunez-Humphrey                         NA           Asthma             NA
Padilla-Walker                         NA           Cancer             NA
Powell Robinson and Valdez,            NA               NA             NA
Powers Miller, and Flores              NA               NA             NA
Rivera-Gutierrez                       NA           Asthma             NA
Schaefer-Porter                    Cancer               NA             NA
Sons Rich and                          NA               NA             NA
Sons and Miller                        NA               NA             NA
White-White                            NA               NA       14238.32


Insurance Provider          Blue Cross    Cigna Medicare UnitedHealthcare
Hospital
Cook PLC                            NA       NA       NA               NA
Group Middleton                     NA       NA 19580.87               NA
Hernandez Rogers and Vang,          NA       NA 37909.78               NA
Kim Inc                             NA       NA 33643.33               NA
Lyons-Blair                         NA       NA  7999.59               NA
Morris-Arellano                     NA       NA       NA         40701.60
Nunez-Humphrey                      NA       NA       NA         48145.11
Padilla-Walker                      NA       NA       NA         19784.63
Powell Robinson and Valdez,         NA 45820.46       NA               NA
Powers Miller, and Flores           NA 43282.28       NA               NA
Rivera-Gutierrez                    NA       NA       NA         33207.71
Schaefer-Porter                     NA       NA 12576.80               NA
Sons Rich and                       NA 50119.22       NA               NA
Sons and Miller               18856.28       NA       NA               NA
White-White                         NA       NA       NA               NA

In [198]:
#I did not love that output. I don't think it looked very good. To be honest, I haven't thought of a way that 
#pivot() would be useful in the context that there can't be a duplicate. I did another example to try to find 
#a better demonastration of pivot()

#In this example, our rows are the insurance provider and the hospital visited, our column in the medical condition
#and our value is how much the bill cost. This is a better way to display this information, so that someone can 
#see where the  visit was with what insurance, what condition was the purpose of the visit, and how much it costs.

#With large datasets it is going to be harder to use pivot() because there will most likely be duplicate conditions
#It is not unreasonable to believe that 2 people with the same insurance would visit the same hospital for the same
#condition. Even more so, it is beleivable that only one of those combinations are true, and in that case pivot()
#would not be useful.
#You could take duplicate values out, but most of the time that would be taking out useful data.
df_sub.pivot(index = ['Insurance Provider', 'Hospital'], columns = 'Medical Condition', 
             values = ['Billing Amount']).fillna('0')

                                               Billing Amount           \
Medical Condition                                      Asthma   Cancer
Insurance Provider Hospital
Aetna              Cook PLC                                 0        0
                   White-White                              0 14238.32
Blue Cross         Sons and Miller                          0 18856.28
Cigna              Powell Robinson and Valdez,              0 45820.46
                   Powers Miller, and Flores                0        0
                   Sons Rich and                     50119.22        0
Medicare           Group Middleton                          0        0
                   Hernandez Rogers and Vang,               0        0
                   Kim Inc                                  0        0
                   Lyons-Blair                              0        0
                   Schaefer-Porter                          0 12576.80
UnitedHealthcare   Morris-Arellano                          0 40701.60
                   Nunez-Humphrey                    48145.11        0
                   Padilla-Walker                           0 19784.63
                   Rivera-Gutierrez                  33207.71        0


Medical Condition                              Diabetes Hypertension  Obesity
Insurance Provider Hospital
Aetna              Cook PLC                           0            0 27955.10
                   White-White                        0            0        0
Blue Cross         Sons and Miller                    0            0        0
Cigna              Powell Robinson and Valdez,        0            0        0
                   Powers Miller, and Flores   43282.28            0        0
                   Sons Rich and                      0            0        0
Medicare           Group Middleton             19580.87            0        0
                   Hernandez Rogers and Vang,  37909.78            0        0
                   Kim Inc                            0            0 33643.33
                   Lyons-Blair                        0      7999.59        0
                   Schaefer-Porter                    0            0        0
UnitedHealthcare   Morris-Arellano                    0            0        0
                   Nunez-Humphrey                     0            0        0
                   Padilla-Walker                     0            0        0
                   Rivera-Gutierrez                   0            0        0

In [199]:
#Aggregation

In [200]:
#In this example I aggregated the mean for the billing amount of the data frame and then the median
#max, and min for the age of the patients. This was to display that with agg() you can do different aggregations 
#and they will display together.
#This can be useful information. We see the median age of patients, we can see the oldest and youngest patient age.
#This also will calculate the mean billing amount for a hospital visit.
df.agg({'Billing Amount': ['mean'],
       'Age': ['median', 'max', 'min']}
      )

        Billing Amount   Age
mean          25539.32   NaN
median             NaN 52.00
max                NaN 89.00
min                NaN 13.00

In [212]:
#Jumping a little ahead. If we use groupby(), we can get the insurance provider and then calculate out the 
#mean, count, sum, and max for the billing amount for each insurance provider. This is useful information and 
#an effective way to use agg() and groupby(). Now we can see how many people used what insurance provider

df.groupby("Insurance Provider")['Billing Amount'].agg(['mean','count','sum', 'max'])

                       mean  count          sum      max
Insurance Provider
Aetna              25553.29  10913 278863102.95 52211.85
Blue Cross         25613.01  11059 283254294.21 52764.28
Cigna              25525.77  11249 287139345.27 52170.04
Medicare           25615.99  11154 285720758.13 52092.67
UnitedHealthcare   25389.17  11125 282454542.84 52373.03

In [213]:
#Iterations

In [214]:
#I am creating another subset of data to display iterations and so that I do not need to iterate over every row of
#the data frame
df_subset = df.tail(10)

In [215]:
#I am interating over every row of the column 'Name' and printing it out
for index, row in df_subset.iterrows():
    print(row['Name'])

Stephanie Oliver
Linda Griffin
Lauren Mccormick
Gloria Bowen
Jessica White
Elizabeth Jackson
Kyle Perez
Heather Wang
Jennifer Jones
James Garcia

In [216]:
#Seeing that the case is random, I am now interating over every row to correct to title case, so that the first 
#letter of both names will be capitalized and the rest of the letters will be lowercase. 
for index, row in df_subset.iterrows():
    df_subset.at[index, 'Name'] = row['Name'].title()

In [217]:
#I will show just the column 'Name' to show that each name is now in title case. This is to save space and because
#I don't want to print the entire subset of the dataframe, I just want to focus on the names to display the 
#change that has occured.
df_subset['Name']

55490     Stephanie Oliver
55491        Linda Griffin
55492     Lauren Mccormick
55493         Gloria Bowen
55494        Jessica White
55495    Elizabeth Jackson
55496           Kyle Perez
55497         Heather Wang
55498       Jennifer Jones
55499         James Garcia
Name: Name, dtype: object

In [218]:
#Groupby

In [219]:
#Using groupby, I can group the insurance providers together and then display each provider's mean billing amount

df.groupby('Insurance Provider')['Billing Amount'].mean()

Insurance Provider
Aetna              25553.29
Blue Cross         25613.01
Cigna              25525.77
Medicare           25615.99
UnitedHealthcare   25389.17
Name: Billing Amount, dtype: float64

In [220]:
#Going back and adding the agg() function, we can group each insurance provider and display the count, mean, 
#and median of the billing amount of each one.

df.groupby('Insurance Provider')['Billing Amount'].agg(['count','mean', 'median'])

                    count     mean   median
Insurance Provider
Aetna               10913 25553.29 25786.39
Blue Cross          11059 25613.01 25594.70
Cigna               11249 25525.77 25545.20
Medicare            11154 25615.99 25592.81
UnitedHealthcare    11125 25389.17 25185.49

In [221]:
#To make this more complex, we can add the medical condition into the groupby() as well.
#This is a great way for us to see some simple stats quickly. We can see how many patiets from an insurance company
#are being seen for a specific medical condition and how much the billing amount might be based on the mean or 
#median for that medical condition under that insurance.

df.groupby(['Insurance Provider', 'Medical Condition'])['Billing Amount'].agg(['count','mean', 'median'])

                                      count     mean   median
Insurance Provider Medical Condition
Aetna              Arthritis           1832 25478.95 25738.81
                   Asthma              1740 25846.96 26009.98
                   Cancer              1819 24923.41 24539.47
                   Diabetes            1842 25565.19 25886.18
                   Hypertension        1876 25896.21 26360.35
                   Obesity             1804 25611.91 25892.56
Blue Cross         Arthritis           1852 25792.79 25867.31
                   Asthma              1835 25141.78 24409.93
                   Cancer              1808 25100.90 25055.05
                   Diabetes            1860 25820.05 26072.20
                   Hypertension        1813 25695.86 26104.95
                   Obesity             1891 26100.79 26361.40
Cigna              Arthritis           1900 25318.17 25578.69
                   Asthma              1907 25610.47 25979.84
                   Cancer              1864 25582.05 25395.45
                   Diabetes            1893 25651.21 25659.07
                   Hypertension        1821 24860.46 24259.01
                   Obesity             1864 26117.00 27100.10
Medicare           Arthritis           1851 25272.08 25033.86
                   Asthma              1833 25765.96 26036.08
                   Cancer              1866 25337.97 25183.52
                   Diabetes            1903 25671.45 25245.34
                   Hypertension        1847 25811.98 25435.19
                   Obesity             1854 25838.73 26606.34
UnitedHealthcare   Arthritis           1873 25627.49 25531.93
                   Asthma              1870 25819.63 25951.80
                   Cancer              1870 24857.85 24404.73
                   Diabetes            1806 25477.77 25215.43
                   Hypertension        1888 25215.65 25026.18
                   Obesity             1818 25339.58 25181.70

In [222]:
#While doing research and watching youtube videos on groupby() I came across this interesting use where you group
#on a key and frequency by using pd.Grouper. To display this, I am going to change the column 'Data of Admission'
#to a datatime object so I can use it as the key to group together.

df['Date of Admission'] = pd.to_datetime(df['Date of Admission'])

#Next, using pd.Grouper, we are going to use the frequency of 1 month to group the 'Date of Admission' into months
#and then show the sum of the billing amount. Using the tail(12) function, we can see the sum of the billing amount
#for the last 12 months of data we have.

df.groupby(pd.Grouper(key='Date of Admission', freq = '1m'))['Billing Amount'].sum().tail(12)

Date of Admission
2023-06-30   25037533.86
2023-07-31   23133758.71
2023-08-31   24826595.73
2023-09-30   23674783.06
2023-10-31   24029139.30
2023-11-30   22521449.86
2023-12-31   23829584.71
2024-01-31   23437428.60
2024-02-29   22537910.40
2024-03-31   22892160.03
2024-04-30   23516859.49
2024-05-31    5431298.46
Freq: M, Name: Billing Amount, dtype: float64